.search-place {
    padding: 16px ;  
    width: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    border: 1px solid #F2F2F2;
    margin-top: 48px;
    
}
.cnton1st {
    display: flex;
    justify-content: space-between;
}
.lupa {
    width: 30px;
    height: 30px;
    margin-top: 12px;
}
.minixata {
    margin-top: 64px;
}
.fl {
    margin-top: 12px;
}