@import "vars";
@import "mixins";

/* Default styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

.container {
    width: 1360px;
    margin: 30px auto 0;
}

h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 700px;
}

h2 {
    font-size: 18px;
    margin: 0;
    font-weight: 400px;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #737373;
    
}

/* Blocks */
@import "blocks/1stScreenContent.scss";
@import "blocks/navbar.scss";
@import "blocks/2p.scss";
/* Vendor libs */